<table>
  <tr>
    <td>
      <strong>Renderable Page Elements:</strong>
      <br/>{{ cms:page:<em>some_label</em>:text }}
      <br/>{{ cms:page:<em>some_label</em>:rich_text }}
      <br/>{{ cms:page:<em>some_label</em>:string }}
      <br/>{{ cms:page:<em>some_label</em>:datetime }}
      <br/>{{ cms:page:<em>some_label</em>:integer }}
    </td>
    <td>
      <strong>Internal Field Elements:</strong>
      <br/>{{ cms:field:<em>some_label</em>:text }}
      <br/>{{ cms:field:<em>some_label</em>:string }}
      <br/>{{ cms:field:<em>some_label</em>:datetime }}
      <br/>{{ cms:field:<em>some_label</em>:integer }}
    </td>
    <td>
      <strong>Snippets, Helpers and Partials:</strong>
      <br/>{{ cms:snippet:<em>slug</em> }}
      <br/>{{ cms:helper:<em>method_name</em> }}
      <br/>{{ cms:partial:<em>path/to/partial</em> }}
    </td>
  </tr>
</table>