/* Reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

body {
  padding: 5px;
  background: #fff;
  font: 14px Arial, sans-serif;
}
 
p, h1, h2, h3, h4, h5, h6, ul, ol, table, blockquote, pre { 
  outline: 1px dotted #e1e1e1;
  background: #fff no-repeat 2px 2px;
  padding: 5px;
  margin-bottom: 10px;
}

h1 { font: bold 24px Times, serif }
h2 { font: bold 20px Times, serif }
h3 { font: bold 16px Times, serif }

p { letter-spacing: 0.5px }

ul, ol  { margin-left: 25px }
ul li   { list-style: disc }
ol li   { list-style: decimal }

table {
  width: 100%;
}
th, td {
  height: 20px;
  width: 20px;
  border: 1px dotted #ccc;
}

p           { background-image: url(lbl-p.png); }
h1          { background-image: url(lbl-h1.png); }
h2          { background-image: url(lbl-h2.png); }
h3          { background-image: url(lbl-h3.png); }
h4          { background-image: url(lbl-h4.png); }
h5          { background-image: url(lbl-h5.png); }
h6          { background-image: url(lbl-h6.png); }
blockquote  { background-image: url(lbl-blockquote.png); }
pre         { background-image: url(lbl-pre.png); }

/* Custom Classes */
*.align_left    { float: left }
*.align_center  { display: block; margin: auto }
*.align_right   { float: right }
p.align_left    { float: none; text-align: left }
p.align_center  { float: none; text-align: center }
p.align_right   { float: none; text-align: right }
