.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
db/schema.rb
db/development_structure.sql
db/test.sqlite3-journal
pkg
rdoc
/tmp
public/system/
Gemfile.lock
.rvmrc
.ruby-version
.ruby-gemset
/.sass-cache
coverage/
/storage
db/cms_fixtures/test-site/
.idea
