language: ruby
rvm:
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
gemfile:
  - test/gemfiles/Gemfile.rails.5.2
branches:
  only:
    - master
addons:
  sources:
  - google-chrome
  apt:
    packages:
    - google-chrome-stable
before_install:
  - gem update --system
  - gem update bundler
before_script:
  - wget http://chromedriver.storage.googleapis.com/2.34/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - sudo apt-get install libnss3
  - sudo apt-get --only-upgrade install google-chrome-stable
  - sudo cp chromedriver /usr/local/bin/.
  - sudo chmod +x /usr/local/bin/chromedriver
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
script:
  - bundle exec rake db:migrate
  - bundle exec rake test
  - SKIP_COV=true bundle exec rake test:system
  - bundle exec rubocop
