- block ||= page_form

- if (files = block.files).present?
  .files
    - files.each do |file|
      .file{:class => dom_id(file)}
        = link_to file.file_file_name, file.file.url, :target => '_blank'
        = link_to admin_cms_site_file_path(@site, file), :method => :delete, :remote => true, :confirm => t('.are_you_sure'), :class => 'delete' do
          %i.icon-remove-circle
