.files
  - attachments.each do |attachment|
    - if attachment.image?
      - variant = attachment.variant(Comfy::Cms::File::VARIANT_SIZE[:thumb])
      - thumb = image_tag variant, size: "200x150"
    .btn.btn-outline-light
      = link_to attachment.filename, attachment, {data: {toggle: "page-file-popover", content: thumb}}
      %label.custom-control.custom-checkbox
        = check_box_tag "page[fragments_attributes][#{index}][file_ids_destroy][]", attachment.id, false, id: nil, class: "custom-control-input"
        %span.custom-control-indicator
