= comfy_admin_partial "comfy/admin/cms/partials/html_footer"

= javascript_include_tag "comfy/admin/cms/application", "data-turbolinks-track": "reload"

- if content_for(:javascript)
  = yield :javascript
