body {
  font: 13px 'Lucida Grande', 'Tahoma', sans-serif;
}

h1 {
  font: bold 25px/25px 'Lucida Grande', 'Tahoma', serif;
  margin-bottom: 25px;
  padding-bottom: 5px;
  color: #1C1F22;
  text-shadow: #fff 1px 1px;
  border-bottom: 2px solid #9f9f9f;
}
a {
  text-decoration: none;
  color: #384E66;
}
a:hover {
  color: #1C2733;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}