//= depend_on_asset "comfy/admin/cms/checkerboard.gif"
//= depend_on_asset "comfy/admin/cms/icon_page.gif"
//= depend_on_asset "comfy/admin/cms/icon_move.gif"
//= depend_on_asset "comfy/admin/cms/arrow_bottom.gif"
//= depend_on_asset "comfy/admin/cms/arrow_right.gif"
//= depend_on_asset "comfy/admin/cms/icon_draft.gif"
//= depend_on_asset "comfy/admin/cms/icon_site.gif"
//= depend_on_asset "comfy/admin/cms/icon_layout.gif"
//= depend_on_asset "comfy/admin/cms/icon_snippet.gif"
//= depend_on_asset "comfy/admin/cms/icon_file.gif"

body#comfy.in-iframe
  background: #fff
  .left-column, .right-column, .body-footer
    display: none
  .body-wrapper .center-column
    background: #fff
    margin: 0

body#comfy


  #cms-left
    position: fixed
    top: 0
    bottom: 0
    left: 0
    z-index: 1001
    padding: 0

    button.navbar-toggler
      color: $white

    nav.navbar
      padding: 1rem

      ul.nav
        width: 100%
        li
          position: relative
          width: 100%
          a
            color: $gray-500
          a:hover, a.active
            color: $white
          a.cms-files-open-modal
            height: 26px
            width: 26px
            position: absolute
            text-align: center
            right: 0
            top: 7px

    .left-footer
      padding: 5px
      position: absolute
      width: 100%
      text-align: center
      bottom: 0
      font-size: 12px
      color: $white
      a
        color: $gray-500

    @media (max-width: map-get($grid-breakpoints, lg))
      right: 0
      bottom: auto
      nav.navbar
        padding: 0.5rem
      .left-footer
        display: none

  #cms-right
    background-color: $gray-100
    position: fixed
    top: 0
    bottom: 0
    right: 0
    z-index: 999
    padding: 0

    @media (max-width: map-get($grid-breakpoints, lg))
      position: relative

  #cms-main
    padding-bottom: 3.5rem

    @media (max-width: map-get($grid-breakpoints, md))
      padding-top: 3rem

    .page-header
      margin: 1rem 0
      border-bottom: 1px solid $gray-300

    .form-actions
      padding: 0.5rem
      position: fixed
      bottom: 0
      left: 0
      right: 0
      z-index: 1000
      border-top: 1px solid $gray-200

    .categories-widget
      background-color: $gray-300
      padding: 10px 10px 5px 10px
      margin-bottom: 1rem
      .categories

        .category, .edit_category
          display: inline-block
          margin-bottom: 5px

        .toggle-cat-edit
          float: right
          margin-left: 5px

        &.editable
          display: none







