body#comfy.in-iframe
  height: 100%
  #cms-left, #cms-right
    display: none
  #cms-main
    padding-top: 0

body#comfy

  .alert
    border-radius: 0
    margin: 0 -15px 1rem -15px
    text-align: center

  #cms-left
    position: fixed
    top: 0
    bottom: 0
    left: 0
    z-index: 1001
    padding: 0

    button.navbar-toggler
      color: $white

    nav.navbar
      padding: 1rem

      ul.nav
        width: 100%
        li
          position: relative
          width: 100%
          a
            color: $gray-500
          a:hover, a.active
            color: $white
          a.cms-files-open-modal
            height: 26px
            width: 26px
            position: absolute
            text-align: center
            right: 0
            top: 7px

    .left-footer
      padding: 5px
      position: absolute
      width: 100%
      text-align: center
      bottom: 0
      font-size: 12px
      color: $white
      a
        color: $gray-500

    @media (max-width: map-get($grid-breakpoints, lg))
      right: 0
      bottom: auto
      nav.navbar
        padding: 0.5rem
      .left-footer
        display: none

  #cms-right
    background-color: $gray-100
    position: fixed
    top: 0
    bottom: 0
    right: 0
    z-index: 999
    padding: 0

    @media (max-width: map-get($grid-breakpoints, lg))
      position: relative

  #cms-main
    padding-bottom: 3.5rem

    @media (max-width: map-get($grid-breakpoints, lg))
      padding-top: 3rem

    .page-header
      margin: 1rem 0
      border-bottom: 1px solid $gray-300

    .form-actions
      padding: 0.5rem
      position: fixed
      bottom: 0
      left: 0
      right: 0
      z-index: 1000
      border-top: 1px solid $gray-200

    .categories-widget
      background-color: $gray-300
      padding: 10px 10px 5px 10px
      margin-bottom: 1rem
      .categories
        .category, .edit_category
          display: inline-block
          margin-bottom: 5px
        .toggle-cat-edit
          float: right
          margin-left: 5px
        &.editable
          display: none

    ul.list
      padding: 0
      li
        list-style: none
        .row
          background-color: $gray-100
          margin-bottom: 5px
          padding: 5px 0
          .item
            display: flex
            .item-controls
              width: 30px
              padding: 2px 0
              .dragger, .toggle
                display: block
                color: $gray-500
                &:hover
                  color: $gray-800
              .dragger
                cursor: move
              .toggle
                .collapse
                  display: none
                .expand
                  display: inline
              .toggle.open
                .collapse
                  display: inline
                .expand
                  display: none

            .item-content
              .item-title
                font-size: 1.2rem
                color: $black
                a
                  color: $black
              .item-meta
                font-size: 0.75rem
          .btn-group
            background-color: $white
        .row:hover
          background-color: $white
        ul.list
          padding-left: 2rem

  // -- Files ------------------------------------------------------------------
  .cms-files-modal
    z-index: 99999
    iframe
      width: 100%
      height: 100%
      border: 0

  &.c-comfy-admin-cms-files
    ul.list
      input.file-path
        border: 0
        color: $gray-500
        background: inherit
      .progress
        width: 100%
        height: 25px
    form
      .file-image
        img
          width: 100%

  // -- Revisions --------------------------------------------------------------
  &.c-comfy-admin-cms-revisions
    .label
      padding: 15px 0
      font-weight: bold
    .revision
      margin-bottom: 5px
      .content
        padding: 15px 0
        ins, del
          display: inline
        ins
          background-color: #c6ffc6
          text-decoration: none
        del
          background-color: #ffc6c6

    .box.revisions
      padding: 1rem
      a
        display: block
        margin-bottom: 5px
