.redactor-box
  margin-bottom: 0px
  textarea, .redactor-editor
    resize: vertical

#redactor-modal
  header.ui-draggable-handle
    padding: 20px

  #redactor-modal-body
    section
      padding: 0 20px 20px 20px

      #redactor-droparea-placeholder
        input[type=file]
          display: inline
      #redactor-image-manager-box
        img
          margin: 0 5px 5px 0
          opacity: 0.75
        img:hover
          opacity: 1