<div id='form_blocks'>
  <%= fields_for :cms_blocks, :builder => CmsFormBuilder do |cms_blocks| %>
    <% @cms_page.cms_tags(true).each do |tag| %>
      <%= cms_blocks.send(tag.class.to_s.underscore.downcase.idify, tag)%>
    <% end %>
  <% end %>
</div>