<div id='form_blocks'>
  <%= fields_for :blocks, :builder => ComfortableMexicanSofa::FormBuilder do |cms_blocks| %>
    <% @cms_page.tags(true).each do |tag| %>
      <%= cms_blocks.send(tag.class.name.underscore.downcase.idify, tag)%>
    <% end %>
  <% end %>
</div>