<h1> Editing Page </h1>

<%= cms_form_for @cms_page, :url => {:action => :update} do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= form.submit 'Update Page' %>
<% end %>

<%= debug @cms_page.cms_blocks.collect{|b| [b.id, b.type, b.label, b.content]} %>