= link_to 'Add New Page', new_cms_admin_page_path, :class => 'top_button'

%h2 Pages
= render :partial => 'cms_admin/flash_message'
%ul.tree_structure.sortable
  = render(:partial => 'tree_branch', :collection => @cms_pages)
