<div id='file_uploads' class='box'>
  <div class='actions'>
    <button id="uploader_button" href="#">Upload Files</button>
  </div>
  <div id='uploaded_files'>
    <% CmsUpload.order('file_file_name').all.each do |file| %>
      <%= render :partial => 'cms_admin/uploads/file', :object => file %>
    <% end %>
  </div>
</div>