<div id='file_uploads' class='box'>
  <button id="uploader_button" href="#">Select Files to Upload</button>
  <div id='uploaded_files'>
    <% CmsUpload.order('created_at DESC').all.each do |file| %>
      <%= render :partial => 'cms_admin/uploads/file', :object => file %>
    <% end %>
  </div>
</div>