<div id='file_uploads' class='box' data-path='<%= cms_admin_site_uploads_path(@site) %>'>
  <div class='actions'>
    <a id='uploader_button' href='#' class='big button'><%= t('.button') %></a>
  </div>
  <div id='uploaded_files'>
    <% Cms::Upload.order('file_file_name').all.each do |file| %>
      <%= render :partial => 'cms_admin/uploads/file', :object => file %>
    <% end %>
  </div>
</div>
