<div id='upload_container'>
  <div id='filelist'></div>
  <%= link_to 'select files', '#', :id => 'pickfiles', :class => 'button' %>
</div>

<div id='uploads_list'>
  <%= render :partial => 'cms_admin/uploads/upload', :collection => CmsUpload.all %>
</div>