<div class='upload' id="<%= dom_id(upload) %>">
  <div class='thumb'>
    <%= image_tag(upload.icon) %>
    <%= link_to 'delete', cms_admin_upload_path(upload), :method => :delete, :remote => true %>
  </div>
  <div class='name'>
    <%= link_to upload.file_file_name, upload.file.url, :target => '_blank' %>
  </div>
</div>

      
