.form_element_group.categories
  %h2 Categories
  .form_element
    .label Categories
    .field
      %ul#root_categories
        = render :partial => 'cms_admin/categories/category', :locals => { :item => item }, :collection => CmsCategory.roots

  .form_element
    .label Add Category
    .field
      = render :partial => 'cms_admin/categories/new', :locals => { :item_type => item.class.name.underscore }
