<div id='file_uploads' class='box'>
  
  <%= form_for :file, :url => cms_admin_site_files_path(@site), :html => {:multipart => true} do |form| %>
    <a id='uploader_button' href='#' class='big button'><%= t('.button') %></a>
    <%= form.file_field :file, :multiple => true %>
  <% end %>
  
  <div id='uploaded_files'>
    <% Cms::File.order('label').all.each do |file| %>
      <%= render :partial => 'cms_admin/files/file', :object => file %>
    <% end %>
  </div>
</div>
