<h1><%= t('.title') %></h1>

<%= comfy_form_for @file, :as => :file, :url => {:action => :create}, :html => {:multipart => true} do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end %>
