<div class='asset' id="<%= dom_id(asset) %>">
  <div class='thumb'>
    <%= image_tag(asset.icon) %>
    <%= link_to 'delete', cms_admin_asset_path(asset), :method => :delete, :remote => true %>
  </div>
  <div class='name'>
    <%= link_to asset.file_file_name, asset.file.url, :target => '_blank' %>
  </div>
</div>

      
