<div id='upload_container'>
  <div id='filelist'></div>
  <%= link_to 'select files', '#', :id => 'pickfiles', :class => 'button' %>
</div>

<div id='assets_list'>
  <%= render :partial => 'cms_admin/assets/asset', :collection => CmsAsset.all %>
</div>