- url = comfy_admin_cms_site_category_path(@site, category)
= form_for @category, as: :category, url: url, remote: true, html: {id: dom_id(category)} do |form|
  .input-group
    = form.text_field :label, class: "form-control form-control-sm"
    .input-group-btn
      %button.btn.btn-primary.btn-sm
        = fa_icon "check"
