- object = form.object
- if @categories.present?
  = form.form_group :label => {:text => t('.label')}, :class => 'categories' do
    = select_tag "#{object.class.to_s.demodulize.underscore.downcase}[category_ids]",
                 options_for_select(@categories.all, @categories.selected_for(object)), multiple: true, id: 'categories--select'
