- if @categories.present?
  = form.collection_select(:category_ids, @categories, :id, :label, {label: t('.label')}, include_blank: false, multiple: true,
                           id:    'categories--select',
                           class: 'categories')
