- content_for :right_column do
  - link = comfy_admin_cms_site_layout_revisions_path(@site, @layout)
  = render "comfy/admin/cms/revisions/sidebar", record: @layout, link: link

.page-header
  %h2= t('.title')

= comfy_form_with model: @layout, scope: :layout, url: {action: :update} do |form|
  = render form
