- layout ||= details

%table{:class => 'details', :id => dom_id(layout, :details), :style => 'display: none'}
  %tr
    %th Last Updated:
    %td
      - if (layout.updated_at?)
        #{time_ago_in_words(layout.updated_at)} ago
      - else
        Never
