<%= link_to span_tag(pluralize(@cms_layout.revisions.count, 'revision')), cms_admin_layout_revisions_path(@cms_layout), :class => 'big button' %>
<h1> Editing Layout </h1>

<%= cms_form_for @cms_layout, :url => {:action => :update} do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end %>