<h1>Layouts</h1>

<%= link_to 'Create New Layout', new_cms_admin_layout_path %>

<ul>
  <% @cms_layouts.each do |layout| %>
    <%= render :partial => 'tree_branch', :object => layout %>
  <% end %>
</ul>