<%= link_to span_tag('Create New Layout'), new_cms_admin_layout_path, :class => 'big button' %>
<h1>Layouts</h1>

<% content_for :right_column do %>
  <%= render :partial => 'cms_admin/sites/mirrors' %>
<% end %>

<ul class='list'>
  <%= render :partial => 'index_branch', :collection => @cms_layouts %>
</ul>