.page-header
  = link_to t('.new_link'), new_cms_admin_site_layout_path(@site), :class => 'btn pull-right'
  %h2= t('.title')

%ul.list.sortable
  = render :partial => 'index_branch', :collection => @layouts
