<%= link_to span_tag('Create New Layout'), new_cms_admin_layout_path, :class => 'big_button' %>
<h1>Layouts</h1>

<ul class='tree'>
  <%= render :partial => 'index_branch', :collection => @cms_layouts %>
</ul>