/*
= require comfortable_mexican_sofa/reset.css
= require comfortable_mexican_sofa/typography.css
= require comfortable_mexican_sofa/structure.css
= require comfortable_mexican_sofa/form.css
= require comfortable_mexican_sofa/content.css
= require comfortable_mexican_sofa/widgets.css
= require comfortable_mexican_sofa/codemirror.css
= require comfortable_mexican_sofa/jquery_ui.css
*/