/* -- Mirrors widget ----------------------------------------------------- */
#cms_body #mirrors.box select {
  width: 100%;
}
/* -- Page saving widget ------------------------------------------------- */
#cms_body #page_save button {
  float: right;
}
#cms_body #page_save label {
  line-height: 20px;
  padding-left: 5px;
}
#cms_body #page_save input {
  margin-right: 5px;
}
/* -- Categories Widget -------------------------------------------------- */
#cms_body .categories_widget {
  margin-bottom: 10px;
  background-color: #252525;
  padding: 5px 5px 0px 10px;
  border-radius: 5px;
  color: #fff;
}
#cms_body .categories_widget .label {
  float: left;
  font: 12px 'Lucida Grande', Tahoma, sans-serif;
  width: 100px;
}
#cms_body .categories_widget a.action_link {
  float: right;
  margin-left: 10px;
  padding: 2px 4px;
  border: 0px;
  border-radius: 2px;
}
#cms_body .categories_widget .categories {
  overflow: hidden;
  margin: 0px 50px 0px 110px;
}
#cms_body .categories_widget .category {
  float: left;
  overflow: hidden;
  background-color: #484848;
  border-radius: 3px;
  color: #fff;
  height: 9px;
  padding: 3px 5px;
  margin: 0px 5px 5px 0px;
}
#cms_body .categories_widget .category.active {
  background-color: #f7f7f7;
}
#cms_body .categories_widget .category.active a,
#cms_body .categories_widget .category.active a:hover {
  color: #000;
}
#cms_body .categories_widget .category a {
  float: left;
  color: #a3a3a3;
  font: 9px/9px Arial, serif;
  text-transform: uppercase;
}
#cms_body .categories_widget .category a:hover {
  color: #fff;
}
#cms_body .categories_widget .category a.delete {
  float: right;
  margin-left: 5px;
  background-color: #b7b7b7;
  color: #000;
  font: bold 7px/7px Arial, sans-serif;
  padding: 1px 3px;
  border-radius: 4px;
}
#cms_body .categories_widget .category a.delete:hover {
  background-color: #fff;
}
#cms_body .categories_widget .category.new,
#cms_body .categories_widget .category.edit {
  height: 15px;
  padding: 0px;
}
#cms_body .categories_widget form input[type='text'] {
  float: left;
  width: 120px;
  border: 0px;
  padding: 1px 2px;
  font: 11px/11px Arial, serif;
  border-radius: 2px;
}
#cms_body .categories_widget form input[type='submit'] {
  float: right;
  font: 9px Arial, sans-serif;
  padding: 1px 2px;
  border: 0px;
  border-radius: 2px;
  margin-left: 5px;
}
/* -- Listings ----------------------------------------------------------- */
#cms_body ul.list li .item {
  overflow: hidden;
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 5px;
}
#cms_body ul.list li .item .toggle {
  float: left;
  height: 28px;
  width: 28px; 
}
#cms_body ul.list li .item .toggle a {
  display: block;
  height: 28px;
  width: 28px;
  background: url(/assets/comfortable_mexican_sofa/arrow_right.gif) center center no-repeat;
}
#cms_body ul.list li .item .toggle a span {
  display: none;
}
#cms_body ul.list li .item .toggle.open a {
  background-image: url(/assets/comfortable_mexican_sofa/arrow_bottom.gif);
}
#cms_body ul.list li .item .icon,
#cms_body table.formatted td .icon {
  float: left;
  width: 28px;
  height: 28px;
  background: url(/assets/comfortable_mexican_sofa/icon_regular.gif);
}
#cms_body ul.list li .item .icon.draft,
#cms_body table.formatted td .icon.draft {
  background: url(/assets/comfortable_mexican_sofa/icon_draft.gif);
}
#cms_body ul.list li .item .icon .dragger,
#cms_body table.formatted td .icon .dragger {
  width: 28px;
  height: 28px;
  background: url(/assets/comfortable_mexican_sofa/icon_move.gif);
  cursor: move;
  display: none;
}
#cms_body ul.list li .item .icon:hover .dragger,
#cms_body table.formatted td .icon:hover .dragger {
  display: block;
}
#cms_body ul.list li .item .icon .dragger span,
#cms_body table.formatted td .icon .dragger span {
  display: none;
}
#cms_body ul.list li .item .label,
#cms_body table.formatted td .label {
  margin-left: 32px;
  font-size: 14px;
  font-weight: bold;
}
#cms_body ul.list li .item .label span.category {
  display: inline-block;
  padding: 2px 5px;
  font: 9px/9px Arial, sans-serif;
  background-color: #e0e0e0;
  border-radius: 3px;
  text-transform: uppercase;
  color: #888;
}
#cms_body ul.list li .item .label .sublabel,
#cms_body table.formatted td .label .sublabel {
  font-size: 10px;
  font-weight: normal;
}
#cms_body ul.list li ul {
  margin-left: 28px;
}
#cms_body ul.list li .action_links {
  float: right;
  opacity: 0.2;
}
#cms_body ul.list li .item:hover .action_links {
  opacity: 1;
}
#cms_body ul.list li .item:hover {
  background-color: #fff;
}
/* -- Tables ------------------------------------------------------------ */
#cms_body table.formatted {
  width: 100%;
}
#cms_body table.formatted th, #cms_body table.formatted td {
  white-space: nowrap;
  padding: 6px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #e6e6e6;
  vertical-align: top;
}
#cms_body table.formatted th.main, #cms_body table.formatted td.main {
  white-space: normal;
  width: 100%;
}
#cms_body table.formatted th {
  color: #000;
  border-color: #9f9f9f;
}
#cms_body table.formatted tr:hover td {
  background-color: #fff
}
#cms_body table.formatted tr td.action_links a {
  opacity: 0.2;
}
#cms_body table.formatted tr:hover td.action_links a {
  opacity: 1;
}

/* -- Missing Translations ---------------------------------------------- */
#cms_body .translation_missing {
  text-decoration: blink;
}
/* -- Page Specific stuff ------------------------------------------------ */
#cms_body.c_cms_admin_pages.a_index ul.list li .item .label {
  margin-left: 60px;
}
#cms_body.c_cms_admin_layouts.a_index ul.list li .item .icon {
  background-image: url(/assets/comfortable_mexican_sofa/icon_layout.gif);
}
#cms_body.c_cms_admin_snippets.a_index ul.list li .item .icon {
  background-image: url(/assets/comfortable_mexican_sofa/icon_snippet.gif);
}
#cms_body.c_cms_admin_files textarea#file_description {
  height: 100px;
}
/* -- Revisions ---------------------------------------------------------- */
#cms_body.c_cms_admin_revisions.a_show .form_element.submit_element .value {
  margin-left: 0px;
}
#cms_body.c_cms_admin_revisions.a_show .current {
  width: 50%;
  float: left;
}
#cms_body.c_cms_admin_revisions.a_show .versioned {
  width: 50%;
  float: right;
}
#cms_body.c_cms_admin_revisions.a_show .title,
#cms_body.c_cms_admin_revisions.a_show .content {
  padding: 2px 5px;
  margin: 0px 3px;
}
#cms_body.c_cms_admin_revisions.a_show .title {
  background: #f1f1f1;
  border-bottom: 2px solid #bbb;
}
#cms_body.c_cms_admin_revisions.a_show .content {
  min-height: 16px;
  border: 1px dashed #f1f1f1;
}
#cms_body.c_cms_admin_revisions.a_show .revisions a {
  display: block;
  background-color: #252525;
  border-radius: 2px;
  padding: 0px 3px;
  opacity: 0.5;
  margin-bottom: 2px;
  color: #fff;
}
#cms_body.c_cms_admin_revisions.a_show .revisions a:hover,
#cms_body.c_cms_admin_revisions.a_show .revisions a.active {
  opacity: 1;
}
#cms_body.c_cms_admin_revisions.a_show .revisions a:last-child {
  margin-bottom: 0px;
}