#cms_body .file_uploads form {
  position: relative;
  height: 21px;
  overflow: hidden;
  margin-bottom: 5px;
}
#cms_body .file_uploads form input {
  position: absolute;
  margin-top: -1px;
  right: 0px;
  top: 0px;
  font-size: 220px;
  opacity: 0;
}
#cms_body .uploaded_files {
  max-height: 500px;
  overflow: auto;
}
#cms_body .uploaded_files .file {
  overflow: hidden;
}
#cms_body .uploaded_files .file .file_name {
  background-color: #252525;
  font: 11px/11px Arial, sans-serif;
  height: 11px;
  padding: 3px 5px;
  border-top: 1px solid #484848;
  border-radius: 2px;
}
#cms_body .uploaded_files .file:hover .file_name {
  background-color: #000;
}
#cms_body .uploaded_files .file .file_name a.filename {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  color: #8a8a8a;
}
#cms_body .uploaded_files .file .file_name a.delete {
  float: right;
  height: 11px;
  width: 11px;
  background: url(/assets/comfortable_mexican_sofa/x.png);
}
#cms_body .file_uploads .file a.delete:hover {
  background-position: 0px 11px;
}
#cms_body .uploaded_files .file .file_name a.delete span {
  display: none;
}
#cms_body .uploaded_files .file .file_info {
  display: none;
  overflow: hidden;
  font: 11px/18px Arial, sans-serif;
  background-color: #484848;
  border: 1px solid #252525;
  border-top: 0px;
  padding: 2px;
}
#cms_body .uploaded_files .file:hover .file_info {
  display: block;
}
#cms_body .uploaded_files .file .file_info .thumb {
  float: left;
  height: 60px;
  width: 80px;
  background: url(/assets/comfortable_mexican_sofa/checkerboard.gif);
}
#cms_body .uploaded_files .file .file_info .thumb img {
  display: block;
}
#cms_body .uploaded_files .file .file_info .details {
  margin-left: 85px;
  color: #eee;
}
#cms_body .uploaded_files .file .file_info .details input {
  border: 0px;
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 3px;
}