/* -- Forms -------------------------------------------------------------- */
#cms_body .form_element {
  overflow: hidden;
  margin-bottom: 5px;
}
#cms_body .form_element .label {
  width: 117px;
  float: left;
  text-align: right;
  font: 13px/19px 'Lucida Grande', 'Tahoma', sans-serif;
  text-shadow: #fff 1px 1px;
  padding: 0px 10px;
  background-color: #f6f5f5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px ;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-right: 3px solid #bbb;
}
#cms_body .form_element .value {
  margin-left: 150px;
}
#cms_body .form_element .value input[type='text'],
#cms_body .form_element .value input[type='password'],
#cms_body .form_element .value input[type='datetime'],
#cms_body .form_element .value input[type='number'],
#cms_body .form_element .value input[type='email'],
#cms_body .form_element .value input[type='url'],
#cms_body .form_element .value select,
#cms_body .form_element .value textarea {
  border: 0px;
  width: 100%;
  padding: 2px 0px;
  font-family: 'Courier New', Courier, monospace;
}
#cms_body .form_element .value input[type='datetime'],
#cms_body .form_element .value input[type='number'] {
  width: 200px;
}
#cms_body .form_element .value textarea {
  height: 300px;
}
#cms_body .form_element .value textarea.short {
  height: 100px;
}
#cms_body .form_element .value .CodeMirror-wrapping {
  background-color: #fff;
}
#cms_body .form_element.check_box_element input {
  width: auto;
}

#cms_body .form_element .value input[disabled]{
  background-color: #F1F1F1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cms_body .page_form_extras {
  margin-bottom: 10px;
}
#cms_body #form_blocks .no_tags {
  background-color: #252525;
  color: #aaa;
  border-radius: 3px;
  margin-left: 150px;
  text-align: center;
  padding: 10px;
}
#cms_body #form_blocks .no_tags a {
  color: #fff;
}
#cms_body #form_blocks .no_tags a:hover {
  color: #aaa;
  text-decoration: underline;
}
#cms_body #form_blocks .no_tags code {
  color: #B85042;
}
#cms_body #form_blocks .files {
  overflow: hidden;
  margin-top: 5px;
  background-color: #f1f1f1;
  padding: 5px 0px 0px 5px;
  border-radius: 5px;
  color: #fff;
  min-height: 20px;
}
#cms_body #form_blocks .files .file {
  float: left;
  overflow: hidden;
  background-color: #484848;
  border-radius: 3px;
  color: #fff;
  height: 11px;
  padding: 3px 5px;
  margin: 0px 5px 5px 0px;
}
#cms_body #form_blocks .files .file a {
  float: left;
  color: #fff;
  font: 11px/11px Arial, serif;
}
#cms_body #form_blocks .files .file:hover {
  background-color: #000;
}
#cms_body #form_blocks .files .file a.delete {
  float: right;
  margin-left: 7px;
  background-color: #b7b7b7;
  color: #000;
  font: 7px/8px Arial, sans-serif;
  padding: 1px 3px;
  border-radius: 5px;
}
#cms_body #form_blocks .files .file a.delete:hover {
  background-color: #fff;
  color: #9E0B0F;
}
#cms_body .form_element.field_date_time .label,
#cms_body .form_element.field_integer .label,
#cms_body .form_element.field_string .label,
#cms_body .form_element.field_text .label {
  border-color: #48699C;
}
#cms_body .form_element.page_date_time .label,
#cms_body .form_element.page_integer .label,
#cms_body .form_element.page_string .label,
#cms_body .form_element.page_text .label,
#cms_body .form_element.page_rich_text .label,
#cms_body .form_element.collection .label,
#cms_body .form_element.page_file .label,
#cms_body .form_element.page_files .label {
  border-color: #3F7300;
}
#cms_body .form_error {
  background-color: #9e0b0f;
  font-size: 14px;
  color: #fff;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}
#cms_body .form_element.errors .label {
  border-color: #9e0b0f;
}
#cms_body .form_element.errors .errors {
  margin: 2px 0px 0px 150px;
  font-size: 11px;
  color: #9e0b0f;
}
#cms_body .form_element.submit_element {
  margin-top: 10px;
}
#cms_body .form_element.submit_element .value {
  overflow: hidden;
  background-color: #f6f5f5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 5px;
  margin-right: 0px;
}
#cms_body .form_element.submit_element label {
  margin: 0px 5px;
}
#cms_body .form_element.submit_element input[name='commit'],
#cms_body .form_element.submit_element input[name='save'] {
  float: right;
}
#cms_body .form_element .desc {
  margin: 2px 0px 0px 150px;
  font-size: 11px;
  color: #777;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
#cms_body .form_element.categories .value label {
  display: inline-block;
  padding: 3px 5px;
  background-color: #484848;
  border-radius: 3px;
  font: 9px/14px 'Arial', sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3px;
}
#cms_body .form_element.simple_field .value input {
  margin-bottom: 3px;
}
/* -- Tabs --------------------------------------------------------------- */
#cms_body #tag_namespaces {
  padding: 0px;
  border: 0px;
  background: transparent;
}
#cms_body #tag_namespaces ul.ui-tabs-nav {
  margin: 0px 0px 5px 150px;
  padding: 5px 5px 0px 5px;
  background: #484848;
  border: 0px;
  border-radius: 0px;
}
#cms_body #tag_namespaces ul.ui-tabs-nav li {
  background: transparent;
  border: 0px;
  margin: 0px;
  padding: 0px;
  top: 0px;
}
#cms_body #tag_namespaces ul.ui-tabs-nav a {
  margin-right: 2px;
  font: 13px/19px 'Lucida Grande','Tahoma', sans-serif;
  background-color: #252525;
  color: #8a8a8a;
  border-radius: 3px 3px 0px 0px;
}
#cms_body #tag_namespaces ul.ui-tabs-nav a:hover {
  color: #fff;
}
#cms_body #tag_namespaces ul.ui-tabs-nav li.ui-tabs-selected a {
  background-color: #fff;
  color: #000;
}
#cms_body #tag_namespaces .ui-tabs-panel {
  padding: 0px;
}