/* -- Forms -------------------------------------------------------------- */
#cms_body .form_element {
  overflow: hidden;
  margin-bottom: 5px;
}
#cms_body .form_element .label {
  width: 117px;
  float: left;
  text-align: right;
  font: 13px/19px 'Lucida Grande', 'Tahoma', serif;
  text-shadow: #fff 1px 1px;
  padding: 0px 10px;
  background-color: #f1f1f1;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px ;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-right: 3px solid #bbb;
}
#cms_body .form_element .value {
  margin-left: 150px;
  overflow: hidden;
}
#cms_body .form_element .value input[type='text'],
#cms_body .form_element .value input[type='password'],
#cms_body .form_element .value input[type='datetime'],
#cms_body .form_element .value input[type='number'],
#cms_body .form_element .value select,
#cms_body .form_element .value textarea {
  border: 0px;
  width: 100%;
  padding: 2px 0px;
  font-family: 'Courier New', Courier, monospace;
}
#cms_body .form_element .value input[type='datetime'],
#cms_body .form_element .value input[type='number'] {
  width: 200px;
}
#cms_body .form_element .value textarea {
  height: 300px;
}
#cms_body .form_element .value .CodeMirror-wrapping {
  background-color: #fff;
}
#cms_body .form_element.check_box_element input {
  width: auto;
}
#cms_body .page_form_extras {
  margin-bottom: 10px;
}
#cms_body #form_blocks .no_tags {
  background-color: #252525;
  color: #aaa;
  border-radius: 3px;
  margin-left: 150px;
  text-align: center;
  padding: 10px;
}
#cms_body #form_blocks .no_tags a {
  color: #fff;
}
#cms_body #form_blocks .no_tags a:hover {
  color: #aaa;
  text-decoration: underline;
}
#cms_body #form_blocks .no_tags code {
  color: #B85042;
}
#cms_body .form_element.field_datetime .label,
#cms_body .form_element.field_integer .label,
#cms_body .form_element.field_string .label,
#cms_body .form_element.field_text .label {
  border-color: #48699C;
}
#cms_body .form_element.page_datetime .label,
#cms_body .form_element.page_integer .label,
#cms_body .form_element.page_string .label,
#cms_body .form_element.page_text .label,
#cms_body .form_element.page_rich_text .label {
  border-color: #3F7300;
}
#cms_body .form_error {
  background-color: #9e0b0f;
  font-size: 14px;
  color: #fff;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}
#cms_body .form_element.errors .label {
  border-color: #9e0b0f;
}
#cms_body .form_element.errors .errors {
  margin: 2px 0px 0px 150px;
  font-size: 11px;
  color: #9e0b0f;
}
#cms_body .form_element.submit_element {
  margin-top: 10px;
}
#cms_body .form_element.submit_element .value {
  background-color: #f1f1f1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 5px;
}
#cms_body .form_element.submit_element label {
  margin: 0px 5px;
}
#cms_body .form_element.submit_element input[name='commit'],
#cms_body .form_element.submit_element input[name='save'] {
  float: right;
}
#cms_body .form_element .desc {
  margin: 2px 0px 0px 150px;
  font-size: 11px;
  color: #777;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}