/* -- Containers --------------------------------------------------------- */
html, body#cms_body {
  height: 100%;
  background-color: #252525;
}
#cms_body .body_wrapper {
  height: 100%;
}
#cms_body .left_column {
  width: 175px;
  float: left;
}
#cms_body .center_column {
  position: relative;
  margin: 0px 250px 0px 175px;
  min-height: 100%;
  background-color: #e6e6e6;
}
#cms_body .center_column .center_column_content {
  padding: 25px;
}
#cms_body .right_column {
  width: 250px;
  float: right;
}
#cms_body .right_column_content {
  padding: 25px 10px;
  width: 230px;
  position: fixed;
}
#cms_body .left_column_content {
  padding: 25px 0px;
  width: 175px;
  position: fixed;
}
#cms_body .left_column_content ul.nav a {
  position: relative;
  display: block;
  padding: 5px 15px;
  font: 15px/25px 'Lucida Grande', 'Tahoma', sans-serif;
  color: #8a8a8a;
  text-shadow: 0px 1px 0px #000;
  border-bottom: 1px solid #1a1a1a;
}
#cms_body .left_column_content ul.nav a:hover,
#cms_body .left_column_content ul.nav a.active {
  color: #ddd;
}
#cms_body .left_column_content ul.nav a.active {
  background-color: #1f1f1f;
  box-shadow: inset 0px 0px 10px #000;
}
#cms_body .left_column_content ul.nav a.active:after {
  position: absolute;
  top: 10px;
  right: -8px;
  z-index: 9999;
  content: '';
  display: block;
  height: 16px;
  width: 8px;
  background: transparent url(/assets/comfortable_mexican_sofa/nav_arrow.png);
}
#cms_body .right_column_content h2 {
  color: #d8d8d8;
  text-shadow: #000 1px 1px;
  margin-bottom: 5px;
}
#cms_body .right_column_content .box {
  background-color: #484848;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 10px;
  overflow: auto;
  color: #fff;
}
/* -- Flash Messages ----------------------------------------------------- */
#cms_body .flash {
  text-align: center;
  padding: 8px;
  color: #fff;
  background-color: #066B12;
}
#cms_body .flash.error {
  background-color: #9e0b0f;
}
/* -- Buttons ------------------------------------------------------------ */
#cms_body a.button,
#cms_body button,
#cms_body input[type='button'], 
#cms_body input[type='submit'], 
#cms_body input[type='reset'], 
#cms_body input[type='file'],
#cms_body .action_links a,
#cms_body a.action_link {
  margin-left: 3px;
  background-color: #b4b4b4;
  color: #1b1b1b;
  padding: 3px 5px;
  font: 9px Arial, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #9f9f9f;
  background: -moz-linear-gradient(top, #F9F9F9 0%, #D5D5D5 34%, #B4B4B4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(34%,#D5D5D5), color-stop(100%,#B4B4B4));
  text-shadow: #f5f5f5 1px 1px;
}
#cms_body a.button:hover,
#cms_body button:hover,
#cms_body input[type='button']:hover, 
#cms_body input[type='submit']:hover, 
#cms_body input[type='reset']:hover, 
#cms_body input[type='file']:hover,
#cms_body .action_links a:hover,
#cms_body a.action_link:hover {
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-box-shadow: inset 0px 0px 5px #aaa;
  -webkit-box-shadow: inset 0px 0px 5px #aaa;
  border-color: #484848;
}
#cms_body a.button.big,
#cms_body button,
#cms_body input[type='button'], 
#cms_body input[type='submit'], 
#cms_body input[type='reset'], 
#cms_body input[type='file'] {
  padding: 3px 10px;
  font-size: 10px;
  letter-spacing: 0.5px;
}
#cms_body a.button.big {
  float: right;
}
/* -- Sofa Version ------------------------------------------------------- */
#cms_body .center_column .sofa {
  position: absolute;
  background: #000;
  bottom: 0px;
  left: -175px;
  width: 155px;
  padding: 5px 10px;
  font-size: 10px;
}
#cms_body .center_column .sofa a {
  color: #484848;
}
#cms_body .center_column .sofa a:hover {
  color: #f1f1f1;
}
#cms_body .center_column .sofa span.version {
  color: #f1f1f1;
  font-size: 9px;
  margin-left: 2px;
}