/* -- Containers --------------------------------------------------------- */
html, body {
  height: 100%;
  background-color: #252525;
}
.body_wrapper {
  height: 100%;
}
.left_column {
  width: 175px;
  float: left;
}
.center_column {
  position: relative;
  margin: 0px 250px 0px 175px;
  min-height: 100%;
  background-color: #e6e6e6;
}
.center_column .center_column_content {
  padding: 25px;
}
.right_column {
  width: 250px;
  float: right;
}
.right_column_content {
  padding: 25px 10px;
  width: 230px;
  position: fixed;
}
.left_column_content {
  padding: 25px 0px 25px 10px;
  width: 165px;
  position: fixed;
}
.left_column_content ul.nav a {
  display: block;
  padding: 3px 10px;
  margin-bottom: 5px;
  font: 15px/25px 'Lucida Grande', 'Tahoma', serif;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  background: #2D2D2D;
  background: -moz-linear-gradient(left, #2D2D2D 0%, #484848 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2D2D2D), color-stop(100%,#484848));
  color: #fff;
  opacity: 0.3;
}
.left_column_content ul.nav a:hover,
.left_column_content ul.nav a.active {
  color: #fff;
  opacity: 1;
}
.right_column_content h2 {
  color: #d8d8d8;
  text-shadow: #000 1px 1px;
  margin-bottom: 5px;
}
.right_column_content .box {
  background-color: #484848;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 10px;
  overflow: hidden;
  color: #fff;
}
/* -- Flash Messages ----------------------------------------------------- */
.flash {
  text-align: center;
  padding: 8px;
  color: #fff;
  background-color: #066B12;
}
.flash.error {
  background-color: #9e0b0f;
}
/* -- Buttons ------------------------------------------------------------ */
a.button,
button,
input[type='button'], 
input[type='submit'], 
input[type='reset'], 
input[type='file'],
.action_links a,
a.ui-dialog-titlebar-close {
  margin-left: 3px;
  background-color: #b4b4b4;
  color: #1b1b1b;
  padding: 3px 5px;
  font: 9px Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #9f9f9f;
  background: -moz-linear-gradient(top, #F9F9F9 0%, #D5D5D5 34%, #B4B4B4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(34%,#D5D5D5), color-stop(100%,#B4B4B4));
  text-shadow: #f5f5f5 1px 1px;
}
a.button:hover,
button:hover,
input[type='button']:hover, 
input[type='submit']:hover, 
input[type='reset']:hover, 
input[type='file']:hover,
.action_links a:hover,
a.ui-dialog-titlebar-close:hover {
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-box-shadow: inset 0px 0px 5px #aaa;
  -webkit-box-shadow: inset 0px 0px 5px #aaa;
  border-color: #484848;
}
a.button.big,
button,
input[type='button'], 
input[type='submit'], 
input[type='reset'], 
input[type='file'] {
  padding: 3px 10px;
  font-size: 10px;
  letter-spacing: 0.5px;
}
a.button.big {
  float: right;
}
/* -- Sofa Version ------------------------------------------------------- */
.center_column .sofa {
  position: absolute;
  background: #000;
  bottom: 0px;
  left: -175px;
  width: 155px;
  padding: 5px 10px;
  font-size: 10px;
}
.center_column .sofa a {
  color: #484848;
}
.center_column .sofa a:hover {
  color: #f1f1f1;
}
.center_column .sofa span.version {
  color: #f1f1f1;
  font-size: 9px;
  margin-left: 2px;
}