/* -- jqueryIU ----------------------------------------------------------- */
.ui-widget-content {
  background: #f1f1f1;
}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* -- elrte -------------------------------------------------------------- */
.el-dialogform-content iframe {
  background: #fff;
}
.el-rte .toolbar ul li.sofa_image {
  background-position: -384px -2px
}
.el-rte .toolbar ul li.sofa_link {
  background-position:-244px -29px
}
#cms_body .el-rte .toolbar ul li.formatblock h1,
#cms_body .el-rte .toolbar ul li.formatblock h2 {
  font: normal 11px 'Trebuchet MS', Verdana, Geneva, sans-serif;
  border: 0px;
  padding: 0px;
  margin: 0px;
  letter-spacing: normal;
  text-shadow: none;
}