/* -- Dialog Box --------------------------------------------------------- */
/*
.ui-dialog {
  border: 1px solid #252525;
  border-radius: 5px;
}
#cms_dialog {
  border: 5px solid #9f9f9f;
  border-radius: 5px;
  background-color: #d8d8d8;
  padding: 15px;
}
.ui-widget-overlay {
  position: absolute;
  top: 0px;
  background: rgba(0,0,0,0.4);
}
.ui-dialog-titlebar {
  position: relative;
  padding: 0px 5px;
  margin-bottom: -5px;
  background-color: #9F9F9F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ui-dialog-titlebar .ui-dialog-title {
  font: 15px/25px Helvetica, Arial, sans-serif;
  text-shadow: #252525 1px 1px;
  color: #f1f1f1;
}
a.ui-dialog-titlebar-close {
  position: absolute;
  top: 4px;
  right: 4px;
}
*/
/* -- WYMeditor ---------------------------------------------------------- */
.wym_box {
  background: #f1f1f1;
  border-radius: 3px;
  padding: 3px;
}
.wym_box .wym_toolbar {
  overflow: hidden;
  margin-bottom: 2px;
}
.wym_box .wym_toolbar .wym_toolbar_section li:last-child a {
  margin-right: 10px;
}
.wym_box .wym_toolbar a {
  display: block;
  float: left;
  margin-right: 2px;
  height: 20px;
  width: 20px;
  background: #fff url(/assets/comfortable_mexican_sofa/wym_icons.png) no-repeat;
  border: 1px solid #fff;
  border-radius: 3px;
  text-indent: -9999px;
}
.wym_box .wym_toolbar a:hover {
  border: 1px solid #d8d8d8;
}
.wym_box .wym_toolbar li.wym_containers_h2 a  { background-position: -20px 0px }
.wym_box .wym_toolbar li.wym_containers_h3 a  { background-position: -40px 0px }
.wym_box .wym_toolbar li.wym_containers_p a   { background-position: -60px 0px }
.wym_box .wym_toolbar li.wym_containers_pre a { background-position: -80px 0px }

.wym_box .wym_toolbar li.wym_tools_strong a         { background-position: -100px 0px }
.wym_box .wym_toolbar li.wym_tools_emphasis a       { background-position: -120px 0px }
.wym_box .wym_toolbar li.wym_tools_ordered_list a   { background-position: -140px 0px }
.wym_box .wym_toolbar li.wym_tools_unordered_list a { background-position: -160px 0px }
.wym_box .wym_toolbar li.wym_tools_table a          { background-position: -180px 0px }
.wym_box .wym_toolbar li.wym_tools_link a           { background-position: -200px 0px }
.wym_box .wym_toolbar li.wym_tools_unlink a         { background-position: -220px 0px }
.wym_box .wym_toolbar li.wym_tools_image a          { background-position: -240px 0px }
.wym_box .wym_toolbar li.wym_tools_paste a          { background-position: -260px 0px }
.wym_box .wym_toolbar li.wym_tools_html a           { background-position: -280px 0px }

.wym_box .wym_toolbar li.wym_classes_align_left a    { background-position: -300px 0px }
.wym_box .wym_toolbar li.wym_classes_align_center a  { background-position: -320px 0px }
.wym_box .wym_toolbar li.wym_classes_align_right a   { background-position: -340px 0px }

.wym_box .wym_html, 
.wym_box .wym_iframe {
  background: #fff;
  border: 1px solid #d8d8d8;
}
.wym_box .wym_html {
  margin-bottom: 5px;
}
.wym_box iframe {
  display: block;
  height: 350px;
  width: 100%;
  border: 0px;
}