<form class='image_url'>
  <label for='image_url'> URL </label>
  <input type='text' name='image_url' id='image_url'/>
  <input type='submit' value='<%= t('.insert') %>'/>
</form>

<%= render :partial => 'cms_admin/files/index', :locals => {:type => 'image' } %>