<%
  return unless ComfortableMexicanSofa.config.enable_mirror_sites
  object ||= mirrors
  
  options = case object
  when Cms::Layout
    object.mirrors.collect{|m| [m.site.label, edit_cms_admin_layout_url(m, :host => m.site.hostname)]}
  when Cms::Page
    object.mirrors.collect{|m| [m.site.label, edit_cms_admin_page_url(m, :host => m.site.hostname)]}
  when Cms::Snippet
    object.mirrors.collect{|m| [m.site.label, edit_cms_admin_snippet_url(m, :host => m.site.hostname)]}
  else
    (Cms::Site.all - [@cms_site]).collect{|s| [s.label, url_for(:host => s.hostname)]}
  end
  options = [[@cms_site.label, request.fullpath]] + options
%>

<div id='mirrors' class='box'>
  <%= select_tag :mirror, options_for_select(options) %>
</div>