= link_to('Add New Site', new_cms_admin_site_path, :class => 'top_button')

%h2 Sites
= render :partial => 'cms_admin/flash_message'
%ul.tree_structure
  - if @sites.blank?
    %li No Sites Defined
  - else
    = render(:partial => 'site', :collection => @sites)
  
