.files
  - fragment_attachments.each do |attachment|
    - if attachment.image?
      - thumb = image_tag attachment.variant(resize: "200x150^", gravity: "center", crop: "200x150+0+0")
    .file{id: dom_id(attachment), data: {toggle: "page-file-popover", content: thumb}}
      = link_to attachment.filename, attachment
