.box.file-uploader
  = form_for :file, :url => comfy_admin_cms_site_files_path(@site, :ajax => true), :html => {:multipart => true, :target => 'file-upload-frame'} do |form|
    %span.btn.btn-sm.btn-default.btn-file
      = t('.button')
      = form.file_field :file, :multiple => true, :id => nil
  
  .uploaded-files
    - @site.files.not_page_file.order(:label).each do |file|
      = render :partial => 'comfy/admin/cms/files/file', :object => file
      
  %iframe#file-upload-frame{:name => 'file-upload-frame', :src => ''}