- block ||= page_form

- if (files = block.files).present?
  .files
    - files.each do |file|
      - file_thumb = image_tag(file.file.url(:cms_thumb)) if file.is_image?
      .file{:id => dom_id(file), :data => {:toggle => 'page-file-popover', :content => file_thumb}}
        = link_to file.file_file_name, file.file.url, :target => '_blank'
        = link_to comfy_admin_cms_site_file_path(@site, file), :method => :delete, :remote => true, :data => {:confirm => t('.are_you_sure')}, :class => 'delete' do
          %i.glyphicon.glyphicon-remove-circle
