!!! 5
%head
  %title ComfortableMexicanSofa
  %meta{ 'http-equiv'=>"Content-Type", :content=>"text/html;charset=utf-8"}
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag

%body
  = yield